body {
    width: 25%;
    max-width: 250px;
    margin: auto;
    justify-content: center;
}

#jatekter div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

h1, p {
    text-align: center;
}
