body {
    width: 25%;
    max-width: 500px;
    margin: auto;
    justify-content: center;
}

#jatekter{
    display: grid;
    border: 1px solid black;
    height: 250px;
    
}

.gombok{
    border-radius: 100%;
    padding: 10%;
    border: 1px solid black;
    width: 20%;
}

h1, p {
    text-align: center;
}
